body {
    margin: 0;
    font-family: 'Courier New'
}

.dropdown {
    width: 30%;
    margin: auto;
    text-align: center;
}

.dogImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 30%;
}

.btn {
    margin-left: 5%;
    background-color: lightblue;
    color: black;
    border-color: lightblue;
}



