<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dog API</title>
</head>
<body>
  <div class="dropdown">
    <h1>Please Select Dog Breed</h1>
    <select (change)="loadBreed($event)" >
      <option disabled selected value> -- select -- </option>
      <option *ngFor="let dog of dogBreeds | keyvalue" [value]="dog.key">{{dog.key}}</option>
    </select>
  </div>
  <hr>
  <div>
    <img class="dogImage" src={{dogImage}}>
  </div>
</body>
</html>